@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@* <MudThemeProvider Theme="MatchMakerTheme" /> *@
<main>
    <header>
        <NavMenu/>
    </header>
    <div class="content">
        @Body
    </div>
</main>