@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@* <MudThemeProvider Theme="MatchMakerTheme" /> *@
<main>
    <header>
        <NavMenu/>
    </header>
    <div class="content">
        @Body
    </div>
</main>


@* @code {
    MudTheme MatchMakerTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = "#071952",
                Secondary = "#088395",
                Tertiary = "#35a29f"
            }
        };
} *@