<MudAppBar Fixed="false" Elevation="0" DisableGutters="true" Class="muudstrap-navbar">
    <div class="d-none d-md-flex align-center">
        <a href="/">
            <img class="logo-style" src="Assets/Img/MatchmakerLogo.png" alt="MatchMaker logo"/>
        </a>
        <div class="align-right">
            @* TODO: Add challenge page for this redirection *@
            <MudButton Color="Color.Inherit" Href="">Challenges</MudButton>
            <MudButton Color="Color.Inherit" Href="/login">Inloggen</MudButton>
            <MudButton Color="Color.Inherit" Href="/register">Registreren</MudButton>
        </div>
    </div>
    @* Makes sure that there is a navbar when it is a smaller screen *@
    <div class="d-flex d-md-none fixed">
        <MudExpansionPanels Square="true" Elevation="0" Class="mud-height-full mud-expand-panel-styling">
            <MudExpansionPanel HideIcon="true" Class="mud-width-full" >
                <TitleContent>
                    <div class="d-flex justify-space-between mud-width-full align-center">
                        <div class="d-flex align-center">
                            <a href="/">
                                <img class="logo-style" src="Assets/Img/MatchmakerLogo.png" alt="MatchMaker logo"/>
                            </a>
                        </div>
                        <MudIcon class="nav-hamburger" Icon="@Icons.Material.Filled.Menu" />
                    </div>
                </TitleContent>
                <ChildContent>
                    <div class=" mx-n6 muudstrap-navbar-expand" >
                        <MudNavMenu>
                            @* TODO: Add challenge page for this redirection *@
                            <MudNavLink Href="">Challenges</MudNavLink>
                            <MudNavLink Href="/login">Login</MudNavLink>
                            <MudNavLink Href="/register">Register</MudNavLink>
                        </MudNavMenu>
                    </div>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </div>
</MudAppBar>