.mud-nav-link-text {
  color: white;
}

::deep .mud-card:hover {
  box-shadow: var(--mud-elevation-7);
}

::deep .mud-carousel {
  min-height: 40em;
  max-height: 50em;
}
::deep .mud-carousel-item {
  padding: 2rem 4em;
}
