.mud-nav-link-text {
  color: white;
}

::deep .challenge-card-root .mud-card:hover,
::deep .carousel-banner:hover {
  transition: box-shadow 0.3s;
  box-shadow: var(--mud-elevation-12);
}

::deep .mud-carousel {
  min-height: 45em;
  max-height: 60em;
}

::deep .mud-carousel-item {
  display: flex;
  padding: 2rem 4em;
}
