@page "/privacyverklaring"
@inject IStringLocalizer<ApplicationResource> Localizer

<h1>@Localizer["PrivacyPageTitle"]</h1>
<MudContainer Class="mb-15 mt-2" MaxWidth="MaxWidth.ExtraLarge">
    <MudCard Elevation="4" Class="rounded-lg">
        <MudCardContent >
            @((MarkupString)Localizer["PrivacyDeclaration"].ToString())
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {

}
