.challenge-card-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::deep .mud-card:hover {
  transition: box-shadow 0.3s;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
}

::deep a {
  text-decoration: none;
}

::deep .organization-nav:hover {
  transition: box-shadow 0.2s;
  box-shadow: 0.1em 0.1em 2em rgba(0, 0, 0, 0.1);
}

::deep .active:hover {
  cursor: default;
  box-shadow: none;
}

::deep .stack > * {
  max-width: 50%;
}
