@using MMIP.Shared.Projections

<div class="d-flex align-center">
    <MudImage Fluid="true" Elevation="4" Class="carousel-banner rounded-lg" Src="@Organization.ImagePath"></MudImage>
    <a href="/profile/organization/@Organization.Id">
        <h1>@Organization.Name</h1>
    </a>
</div>

@code
{
    [Parameter] public OrganizationCarouselItemProjection? Organization { get; set; }
}