.card-organization-title {
  text-align: center;
  margin-top: 25%;
}

.card-centered-text {
  text-align: center;
}

.whitespace-bottom {
  margin-bottom: 60px;
}

.whitespace-top {
  margin-top: 60px;
}
