.card-company-title {
  text-align: center;
  margin-top: 25%;
}

.card-short-challenge-description {
  text-align: center;
}

.whitespace-bottom {
  margin-bottom: 60px;
}

.whitespace-top {
  margin-top: 60px;
}
