.organization-section {
  height: 100%;
  width: 100%;
}

.organization-title {
  overflow: hidden;
  width: 47%;
}

.organization-logo {
  max-height: inherit;
  width: 47%;
}

.custom-card {
  transition: box-shadow 0.1s ease;
  height: 465px;
}

.custom-card:hover {
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
}

.card-centered-text {
  text-align: center;
}

.banner-image {
  width: 100%;
  max-height: 10rem;
}
