.card-organization-title {
  text-align: center;
}

.card-centered-text {
  text-align: center;
}

.card-hover:hover {
  outline-width: 10px;
}

.banner-image {
  width: 100%;
  max-height: 10rem;
}

.custom-card {
  transition: box-shadow 0.1s ease;
  height: 465px;
}

.custom-card:hover {
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
}
