@page "/challenge/create"

@using global::Shared.Entities
<h1>Challenge aanmaken</h1>
<FormComponent Model=@model>
    <FormFields>
        <MudTextField Variant="Variant.Outlined" Label="Title" @bind-Value="model.Title" For="@(() => model.Title)" />
        <MudTextField Variant="Variant.Outlined" Label="Description" @bind-Value="model.Description" For="@(() => model.Description)" />
    </FormFields>
</FormComponent>

@code {
    Challenge model = new();
}